<div class="user-badge-ranking">

  {{mount-widget widget="regras-preview-widget" class="ev-regras-preview"}}

  {{mount-widget widget="profile-user-score-widget" 
  args=(hash username=username) class="ev-profile-user"}}
</div>


{{#d-section pageClass="user-badges" class="user-content user-badges-list"}}
  {{#each sortedBadges as |ub|}}
    {{badge-card
      badge=ub.badge
      count=ub.count
      username=username
      filterUser="true"}}
  {{/each}}
{{/d-section}}
