.user-content-wrapper {
    .user-badge-ranking {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        // border: 1px solid var(--primary-low);
    }
    .user-badges-list {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .user-badge-ranking {
        display: flex;
        .regras-preview {
            width: 50%;
            margin: auto;
        }
        .current-user-score {
            margin-top: unset;
        }
        .profile-user-score {
            margin: auto;
            width: fit-content;
            display: flex;
            height: 100%;
            .wrapper {
                width: fit-content;
            }
        }
    }
}
.regras-preview {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.profile-user-score, 
.current-user-score {
    display: block;
    margin-top: -30px;
    width: 100%;
    .wrapper {
        background-color: white;
        box-shadow: 0 3px 6px #00000029;
        width: 80%;
        max-width: 338px;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        .user {
            display: flex;
            flex-direction: row;
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                margin: auto;
            }
            div.username {
                h3.username {
                    margin: 0;
                }
                .title {
                    margin: 0;
                }
            }
            padding: 8px;
        }
        .position {
            color: #4778c7;
            padding: 8px;
        }
        .score {
            color: #4778c7;
            display: flex;
            padding: 8px;
            span {
                display: block;
                margin: auto;
            }
        }
    }
}
.top-users {
    .top-users-list {
        background-color: #f2faff;
        display: flex;
        padding: 60px 0;
        ul.top-users-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: unset;
            li {
                list-style: none;
                display: flex;
                flex-direction: column;
                &::before {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                & > span {
                    display: block;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
                .avatar {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    border: 2px solid #4778c7;
                    overflow: hidden;
                    img {
                        width: 64px;
                        height: 64px;
                    }
                }
                .username {
                    font-size: 16px;
                    margin: 10px 0;
                }
                .score {
                    color: #4778c7;
                }
                &:first-of-type {
                    order: 2;
                    .avatar {
                        width: 105px;
                        height: 105px;
                        border: 2px solid #ec9324;
                        box-shadow: 0 4px 12px #00000029;
                        img {
                            width: 105px;
                            height: 105px;
                        }
                    }
                    .score {
                        color: #ec9324;
                    }
                    &::before {
                        background-image: url(/plugins/custom_user/images/crown.svg);
                        background-size: auto;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 35px;
                        height: 24px;
                        content: " ";
                    }
                }
                &:nth-of-type(2) {
                    order: 1;
                    &::before {
                        color: #4778c7;
                        content: "2º";
                        font-size: 20px;
                    }
                }
                &:nth-of-type(3) {
                    order: 3;
                    &::before {
                        color: #4778c7;
                        content: "3º";
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
