{{#d-section pageClass="badges"}}
<div class="container ranking">
    <h1>{{siteSettings.custom_user_ranking_title}}</h1>
    <div class="top-users">
        <h2>{{siteSettings.custom_user_top_users_title}}</h2>
        {{mount-widget widget="top-users-list-widget"}}

        {{mount-widget widget="current-user-score-widget"}}

        {{mount-widget widget="regras-preview-widget"}}

    </div>
</div>



<div class="container badges overrided">
    <h1>{{i18n "badges.title"}}</h1>

    {{plugin-outlet name="below-badges-title"}}

    <div class="badge-groups">
        {{#each badgeGroups as |bg|}}
        <div class="badge-grouping">
            <div class="title">
                <h3>{{bg.badgeGrouping.displayName}}</h3>
            </div>
            <div class="badge-group-list">
                {{#each bg.badges as |b|}}
                {{badge-card badge=b username=currentUser.username}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/d-section}}